.movie-wrapper {
  margin-top: 100px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-wrapper .poster-side {
  box-sizing: border-box;
  flex: 0 25%;
  padding: 30px;
}

.movie-wrapper .poster-side {
  box-sizing: border-box;
  padding: 11px 18px 0px 13px;
  margin: 0 30px 30px 30px;
  border-radius: 8px;
  box-shadow: 8px 4px 11px rgba(39,44,49,.1), 1px 3px 8px rgba(39,44,49,.05);
}

.movie-wrapper .poster-side .details p {
  border-bottom: 1px solid #f2f2f2;
  color: #555;
  font-size: 15px;
  padding-bottom: 6px;
}

.movie-wrapper .poster-side .details p strong {
  color: #333;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 16px;
}


.movie-wrapper .description-side {
  box-sizing: border-box;
  flex: 0 60%;
  margin: 0 0 0 30px;
}

.movie-wrapper .description-side .description p {
  font-size: 18px;
  line-height: 36px;
  color: #555;
  padding: 5px 0;
}

.movie-wrapper .description-side .description h2 {
  margin-top: 0;
  color: #333;
  margin-bottom: 0;
}

.movie-wrapper .description-side .description h3 {
  font-size: 14px;
  line-height: 24px;
  color: #555;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}

.movie-wrapper .description-side .description,
.movie-wrapper .description-side .videos {
  padding: 15px 35px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 5px 3px 10px rgba(39,44,49,.09), 1px 3px 8px rgba(39,44,49,.03);
}

.movie-wrapper .description-side .videos {
  padding: 17px 22px;
}



.movie-wrapper .film-card {
  margin: 0;
  flex: none;
}
.movie-wrapper .details {
  padding: 20px;
}

.movie-wrapper .film-card .poster-wrapper,
.movie-wrapper .film-card .poster-wrapper img {
  height: auto;
  height: auto;
}

@media (max-width: 845px) {
  .movie-wrapper .poster-side {
    flex: 0 100%;
  }

  .movie-wrapper .description-side {
    flex: 0 100%;
    margin: 30px;
  }
}
